@model Webshop.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div>

    @ViewBag.Result
</div>



<h1>Register</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="ForgotPassword" asp-controller="UserWithAuthentication">Forgot Password</a>
        </div>
    </div>
</div>


@*<form method="post" action="@Url.Action("TryLogin", "UserWithAuthentication")">
        <h2> Register </h2>

        <label>Email</label>
        <input type="text" id="email" name="email" required>
        <label>Password</label>
        <input type="password" id="password" name="confirmPassword" required>
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
        <input type="submit" id="submit" value="Login" />

    </form>*@


