
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<head>

    <link rel="stylesheet" href="~/css/UserWithAuthentication/ResetPasswordConfirmation.css" />

</head>

<h1>ResetPasswordConfirmation</h1>

<h4> Your password has been reset</h4>