
@Html.ActionLink("Back", "Index", "ShoppingCart", null, null)


    <form method="post" action="@Url.Action("Confirmation", "OrderConfirmation")">
        <label>Payment Type</label>

        <select id="paymentType" name="paymentType">
            <option value="Swish">Swish</option>
            <option value="Invoice">Invoice</option>
        </select>
        <br />

        <label>Delivery Time</label>

        <select id="deliveryTime" name="deliveryTime">
            <option value="twoToFiveDay">2-5 Days</option>
            <option value="fiveToTenDays">5-10 Days</option>
            <option value="thirtyDays">30 Days</option>
        </select>

        <br />

        <label>Total Price</label> <p>@ViewBag.totalPrice @ViewBag.currency </p>

        <label>Change Currency</label>
        
        <select id="selectedCurrency" name="selectedCurrency">
            <option value="Sek">Sek</option>
            <option value="Euro">Euro</option>
            <option value="Pounds">Pounds</option>
            <option value="USD">USD</option>
        </select>
        
        <br />

        <input type="submit" id="submit" value="Order" />

    </form>

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/SelectPaymentAndDeliveryOptions.js"></script>