
@Html.ActionLink("Back", "Index", "ShoppingCart", null, null)




<form method="post" action="@Url.Action("Confirmation", "OrderConfirmation")">
    <h2> Payment</h2>

    <label>Swish</label>
    <input type="checkbox" id="swish" name="paymentType" onclick="TogglePayment()" value="swish">
    <label>Invoice</label>
    <input type="checkbox" id="invoice" name="paymentType" onclick="TogglePayment()" value="invoice">

    <h2>Delivery</h2>
    <label>2-5 days</label>
    <input type="checkbox" id="twoToFiveDay" name="deliveryTime" value="2-5 Days" onclick="ToggleDelivery()">
    <label>5-10 days</label>
    <input type="checkbox" id="fiveToTenDays" name="deliveryTime" value="5-10 Days" onclick="ToggleDelivery2()">
    <label>30 days</label>
    <input type="checkbox" id="thirtyDays" name="deliveryTime" value="30 Days" onclick="ToggleDelivery3()">
    <br />
    <label>Total Price</label>
    <input type="text" name="totalPrice" value="@ViewBag.totalPrice" readonly />

    <input type="submit" id="submit" value="Order" disabled />

</form>

<script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js/SelectPaymentAndDeliveryOptions.js"></script>