@model AppRole; 
@{
    ViewData["Title"] = "CreateRole";
}

<h1>CreateRole</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create Role</button>
        </form>
    </div>
</div>